.dropdown {
    /* The button shown in the task row that opens the dropdown */
    user-select: none;

    &__display {
        width: 100%;
        flex-grow: 1;
        transition: 0.3s;
        background-color: #e6e6e6;
        font-size: 0.9rem;

        &-text {
            flex-grow: 1;
            // display: -webkit-box;
            // -webkit-line-clamp: 2;
            // -webkit-box-orient: vertical;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            &-default {
                color: #555;
            }
        }

        &-arrow {
            height: 1.25rem;
            min-width: 1.25rem;
            // text-align: center;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            // background-color: darkolivegreen;
            pointer-events: none
        }

        &:hover {
            background-color: white;
            color: #555;
            cursor: pointer;
        }
    }

    &__reset {
        background-color: unset;
        border: none;
        margin-left: 0.5rem;

        padding: 0;
        min-height: unset;
        cursor: pointer;

        .mui-icon {
            color: #666;
            border-radius: 50%;
            transition: 0.3s;

            &:hover {
                box-shadow: 0 1px 2px 0 #666;
            }
        }
    }

    /* The floating box that displays all the options */

    &__body {
        background-color: #eee;
        border: 1px #aaa solid;
        box-shadow: 0 1px 2px 0 #666;
        position: absolute;
        z-index: 2;
        padding: 0.25rem;
        border-radius: 0.5rem;

        display: flex;
        flex-direction: column;

        min-height: 10.5rem;
        max-height: 10.5rem;
        width: min(17rem, 95%);

        overflow-y: scroll;
        overflow-x: hidden;
        white-space: nowrap;

        font-size: 0.9rem;

    }

    &__search {
        margin-bottom: 0.25rem;
    }

    &__item {
        padding: 0.2rem;
        padding-left: 0.5rem;
        transition: 0.2s;
        border-bottom: solid 1px #aaa;

        &:hover {
            background-color: #ccc;
            cursor: pointer
        }
    }

    &__create {
        margin-top: 0.5rem;
        overflow-x: hidden;

        &:hover {
            background-color: #cde3ff;
            cursor: pointer
        }
    }

}