@use '../abstracts/colors' as *;
@use '../components/button' as *;

footer {
    background-color: $primary-color;
    color: white;
    padding-block: 1.5rem;
    margin-top: 2rem;

    h4 {
        align-self: center;
        text-align: center;
        margin-bottom: 0.5rem;
    }

    @media(max-width: 600px) {
        padding-block: 0.5rem;
    }
}

.footer-links {

    display: flex;
    justify-content: center;

    a {
        display: flex;
        align-items: center;
        font-weight: normal;
        color: white;
        margin-inline: 2rem;
        white-space: nowrap;

        svg {
            margin-right: 0.5rem;
        }
    }


    @media(max-width: 600px) {
        padding-block: 0.5rem;
        flex-direction: column;

        a {
            margin-inline: unset;
            margin-left: min(5rem, max(10%, 1rem));
            margin-block: 0.5rem;
        }

    }

}