.option {
    &__container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        border: 1px #bbb7 solid;
        border-radius: 1rem;

        padding: 0.5rem 0.25rem;
        margin-block: 0.75rem;
    }

    &__control {
        min-width: 150px;
        max-width: 150px;

        & > .button { width: 100%; }
    }

    &__description {
        text-align: justify;
        width: 100%;
    }

    @media (max-width:650px) {
        &__container {
            flex-direction: column;
            gap: 0.5rem;
        }
    }
}