.page {
    padding-inline: 0.5rem;
    padding-block: 1rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h2 { margin-bottom: 0.5rem; }

    h2 + hr { margin-bottom: 1rem; }

    p {
        margin-block: 1rem;
        margin-inline: 0.25rem;
        text-indent: 0.35rem;
        text-align: justify;
        strong { color: #2458a5; }
    }

    .link {
        display: flex;
        align-items: center;
        gap: 0.35rem;
        
        width: fit-content;
        
        padding: 0.5rem 1rem;
        margin: 0.5rem 0;

        border: rgba(4, 35, 82, 0.329) 1px solid;
        border-radius: 0.5rem;
        color: #2458a5; 

        transition: color 200ms ease;

        &:visited { color: #2458a5; }

        &:hover { color: #0099e0; }
    }
}