@use '../shared/roundbox' as *;

.row-task {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem;

    margin: 0.2rem 0.5rem;
    padding: 0.1rem 0.2rem 0.1rem 0.35rem;
    border-radius: 0.5rem;
    background-color: #ccc;

    .task-id {
        display: none;
    }

    &-hyphen {
        margin-inline: 0.35rem;
    }

    /* The buttons that display text and all the different inputs */
    .editable {
        @extend .round-box;


        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline;

        width: 100%;
        height: 1.5rem;
        // padding: 0.85rem 0.45rem;

        font-size: 1rem;
        font-family: inherit;
        text-align: left;

        transition: 0.3s;

        &-display {
            /* The buttons that display text */
            cursor: text;
            background-color: #e6e6e6;

            &:hover {
                background-color: white;
                box-shadow: 0 3px 5px 0 #aaa;
            }
        }

        &:focus {
            border-color: #4b9aee;
            outline: 0;
        }
    }

    // .task-name-project-container { // TODO
    //     max-width: 100%;
    //     display: flex;
    //     @media (max-width(550px)) {
    //         flex-wrap: wrap;
    //     }
    // }

    .task-name-container {
        min-width: 15rem;
        max-width: 15rem;

        .editable-display {
            background-color: #f6f6f6;
        }
    }

    .task-project-container {
        min-width: 13rem;
        max-width: 13rem;
    }

    .task-interval-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        // border: #98a5cf 1px solid;
        padding: 1px;
        border-radius: 0.25rem;

        input {
            font-size: 0.8rem;
            position: absolute;
            z-index: 2;
            width: auto;
        }
    }

    .task-date-container,
    .task-time-container {
        position: relative;

        .editable {
            display: inline-flex;
            justify-content: flex-end;
        }
    }

    .start-interval-container,
    .end-interval-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        // align-items: center;
    }

    .start-interval-label,
    .end-interval-label {
        display: none;
        font-size: 0.9rem;
        color: #555;
        min-width: 2.3rem;
    }

    .task-date-container {
        min-width: 5.5rem;
        max-width: 5.5rem;
    }

    .task-time-container {
        min-width: 6.5rem;
        max-width: 6.5rem;
    }

    .task-duration-container {
        display: flex;
        min-width: 6.5rem;
        max-width: 6.5rem;

        .editable {
            display: inline-flex;
            justify-content: flex-end;
            text-align: right;
        }

        .editable-display {
            background-color: #f6f6f6;
        }
    }

    .separator {
        flex-grow: 1;
    }

    .mui-icon {
        color: #333;

        &:hover {
            color: #666
        }
    }

    @media (max-width:1360px) {

        .task-name-container {
            flex-grow: 100;
            max-width: none;
        }

        .separator {
            flex-grow: 0;
        }

        .task-controls {
            flex-grow: 1;
            display: flex;
            justify-content: flex-end;
        }

    }

    @media (max-width:750px) {

        .task-interval-container,
        .start-interval-container,
        .end-interval-container {
            flex-grow: 1;
        }
    }

    @media (max-width:650px) {
        margin: 0.2rem 0.3rem;
        padding: 0.2rem;

    }

    @media (max-width:550px) {
        .task-name-container {
            min-width: 100%;
        }

        .task-project-container {
            max-width: none;
            min-width: 100%;
        }

        .separator {
            display: none;
        }
    }

    @media (max-width:500px) {
        &-hyphen {
            display: none;
        }
    }

    @media (max-width:460px) {

        .start-interval-label,
        .end-interval-label {
            display: inline-flex;
            align-items: center;
        }

        .start-interval-container,
        .end-interval-container {
            gap: 1rem;
            justify-content: flex-start;
        }
    }


    @media (max-width:350px) {

        .start-interval-container,
        .end-interval-container {
            gap: 3%;
        }
    }

    @media (max-width:300px) {

        .start-interval-label,
        .end-interval-label {
            display: none;
        }
    }
}