$primary-color: #1f70c0;
$success-color: #679667;
$danger-color: #ca3e3e;
$warning-color: #ffd519;

$primary-color--light: #5c9bda;
$success-color--light: #98d498;
$danger-color--light: #e76a6a;
$warning-color--light: #ffe985;