* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

#root {
  background-color: rgba(238, 238, 238, 0.6666666667);
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#root > header,
#root > div,
#root > section,
#root > footer {
  width: 100%;
}
@media (min-width: 1500px) {
  #root {
    width: 80rem;
  }
}
@media (max-width: 550px) {
  #root {
    width: 100%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
@media (max-width: 500px) {
  .content {
    padding-top: 62px;
  }
}

header {
  display: flex;
  align-items: center;
  background-color: #1f70c0;
  color: white;
  padding: 1rem 1rem 0.5rem;
  border-radius: 0.5rem 0.5rem 0 0;
}
header h2 {
  white-space: nowrap;
}
@media (max-width: 375px) {
  header h2 {
    font-size: 1.25rem;
  }
}

#hamburger-button {
  display: none;
  background-color: #1f70c0;
  color: white;
  font-size: 1.25rem;
  cursor: pointer;
  border: 0;
  border-radius: 0.5rem;
  aspect-ratio: 1;
  margin-right: 1rem;
}
#hamburger-button:hover {
  background-color: #5c9bda;
}
#hamburger-button:active {
  user-select: none;
}

@media (max-width: 500px) {
  header {
    position: fixed;
    z-index: 1;
    box-shadow: 0 3px 5px 0 rgba(34, 34, 34, 0.3333333333);
  }

  #hamburger-button {
    display: flex;
  }
}
nav {
  width: 100%;
  box-shadow: 0 3px 3px 0 rgba(51, 51, 51, 0.2666666667);
  z-index: 1;
}

nav ul {
  width: 100%;
  display: flex;
  list-style: none;
  background-color: #1f70c0;
}

nav ul li {
  display: inline-flex;
}
nav ul li a {
  font-size: 1rem;
  font-weight: 500;
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 0.5rem 2rem;
  transition: background-color 0.3s ease 0s;
}
nav ul li a:hover {
  background-color: #5c9bda;
  box-shadow: 0 3px 3px 0 rgba(34, 34, 34, 0.2);
}

@media (max-width: 500px) {
  nav {
    position: fixed;
    top: 60px;
  }

  nav ul {
    display: none;
  }

  nav.show ul {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.modal {
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.7333333333);
  display: none;
  justify-content: center;
  align-items: center;
}
.modal--is-open {
  display: flex;
}
.modal__container {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  min-width: min(320px, 95%);
  max-width: min(350px, 95%);
  min-height: 200px;
  max-height: 400px;
  padding: 1rem;
  padding-inline: 2rem;
  border-radius: 1rem;
}
.modal__title {
  width: calc(100% - 40px);
}
.modal__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 1.75rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
}
.modal__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  overflow-y: auto;
  padding-block: 0.75rem;
}
.modal__footer {
  display: flex;
  justify-content: center;
}

.popover {
  background-color: #eee;
  box-shadow: 0 3px 5px 0 rgba(34, 34, 34, 0.5333333333);
  border-radius: 0.75rem;
  padding-bottom: 0.2rem;
  margin-bottom: 1rem;
  text-align: center;
  min-width: 10rem;
  max-width: 12rem;
  position: relative;
}
.popover__title {
  font-size: 1rem;
  border-radius: 0.75rem 0.75rem 0 0;
  padding: 0.2rem;
  background-color: #444;
  color: white;
}
.popover__title--primary {
  background-color: #1f70c0;
}
.popover__title--warning {
  background-color: #ffd519;
  color: #222;
}
.popover__title--danger {
  background-color: #ca3e3e;
}
.popover__text {
  font-size: 0.85rem;
  padding: 0.2rem;
  white-space: break-spaces;
  margin-block: 0.25rem;
  margin-inline: 0.5rem;
}

.round-box, .row-task .editable, button, input {
  display: inline-flex;
  align-items: center;
  min-height: 1.75rem;
  padding: 0 0.45rem;
  border: 1px solid #ced4da;
  border-radius: 0.5rem;
  background-color: white;
  color: #111;
}

.input--invalid {
  border: 1px solid red;
}
.input--invalid:focus {
  border: 1px solid red;
}

input:focus {
  border: #4b9aee 1px solid;
  outline: 0;
}

.button {
  margin-inline: 0.25rem;
  font-size: 0.8rem;
  font-weight: bold;
  box-shadow: 0 1px 2px 0 #aaa;
  transition: 0.3s;
  border: 0;
  cursor: pointer;
}
.button:hover {
  box-shadow: 0 3px 5px 0 #aaa;
}
.button-primary {
  background-color: #1f70c0;
  color: white;
}
.button-primary:hover {
  background-color: #5c9bda;
}
.button-success {
  background-color: #679667;
  color: white;
}
.button-success:hover {
  background-color: #98d498;
}
.button-warning {
  background-color: #ffd519;
  color: black;
}
.button-warning:hover {
  background-color: #ffe985;
}
.button-danger {
  background-color: #ca3e3e;
  color: white;
}
.button-danger:hover {
  background-color: #e76a6a;
}
.button-disabled {
  background-color: #ccc;
  color: #666;
}

/*
 *  TASK INPUTS PANELS
 */
/* The controls to change the task's input method */
.panel-input {
  max-width: 35rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.panel-input > div {
  width: 100%;
}

.input-control-bar {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  user-select: none;
}

.input-selector-radio {
  display: none;
}
.input-selector-label {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.2rem;
  width: 6rem;
  background-color: #1f70c0;
  color: white;
  border-radius: 0 0 1rem 1rem;
  cursor: pointer;
  transition: 0.3s;
}
.input-selector-label span {
  text-align: center;
  width: min-content;
  font-size: 0.8rem;
}
.input-selector-label:hover {
  background-color: #5c9bda;
}
.input-selector-label[selected-method="1"] {
  background-color: #5c9bda;
}

.input-task-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.2rem;
}
.input-task-info .task-name-container {
  flex-grow: 5;
  font-size: 0.9rem;
}
.input-task-info .task-name-input {
  width: 100%;
}
.input-task-info .dropdown {
  flex-grow: 1;
  max-width: 15rem;
}
@media (max-width: 550px) {
  .input-task-info {
    flex-wrap: wrap;
  }
  .input-task-info .task-name-container,
.input-task-info .dropdown {
    flex-grow: 0;
    min-width: 100%;
  }
}

.input-timer-counter {
  font-size: large;
  text-align: center;
  margin-block: 0.2rem;
}

.input-intervals-container {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 1rem;
  row-gap: 0.5rem;
  margin-block: 1rem;
  padding-inline: 0.5rem;
}
.input-intervals-container > label {
  display: inline-grid;
  justify-content: end;
}
.input-intervals-container > input {
  font-family: inherit;
}

.button-submit-task, .button-cancel-task {
  min-width: 10rem;
  display: inline-flex;
  justify-content: center;
}

.button-submit-task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 3px;
}

.row-task {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 0.2rem;
  margin: 0.2rem 0.5rem;
  padding: 0.1rem 0.2rem 0.1rem 0.35rem;
  border-radius: 0.5rem;
  background-color: #ccc;
  /* The buttons that display text and all the different inputs */
}
.row-task .task-id {
  display: none;
}
.row-task-hyphen {
  margin-inline: 0.35rem;
}
.row-task .editable {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline;
  width: 100%;
  height: 1.5rem;
  font-size: 1rem;
  font-family: inherit;
  text-align: left;
  transition: 0.3s;
}
.row-task .editable-display {
  /* The buttons that display text */
  cursor: text;
  background-color: #e6e6e6;
}
.row-task .editable-display:hover {
  background-color: white;
  box-shadow: 0 3px 5px 0 #aaa;
}
.row-task .editable:focus {
  border-color: #4b9aee;
  outline: 0;
}
.row-task .task-name-container {
  min-width: 15rem;
  max-width: 15rem;
}
.row-task .task-name-container .editable-display {
  background-color: #f6f6f6;
}
.row-task .task-project-container {
  min-width: 13rem;
  max-width: 13rem;
}
.row-task .task-interval-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1px;
  border-radius: 0.25rem;
}
.row-task .task-interval-container input {
  font-size: 0.8rem;
  position: absolute;
  z-index: 2;
  width: auto;
}
.row-task .task-date-container,
.row-task .task-time-container {
  position: relative;
}
.row-task .task-date-container .editable,
.row-task .task-time-container .editable {
  display: inline-flex;
  justify-content: flex-end;
}
.row-task .start-interval-container,
.row-task .end-interval-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.row-task .start-interval-label,
.row-task .end-interval-label {
  display: none;
  font-size: 0.9rem;
  color: #555;
  min-width: 2.3rem;
}
.row-task .task-date-container {
  min-width: 5.5rem;
  max-width: 5.5rem;
}
.row-task .task-time-container {
  min-width: 6.5rem;
  max-width: 6.5rem;
}
.row-task .task-duration-container {
  display: flex;
  min-width: 6.5rem;
  max-width: 6.5rem;
}
.row-task .task-duration-container .editable {
  display: inline-flex;
  justify-content: flex-end;
  text-align: right;
}
.row-task .task-duration-container .editable-display {
  background-color: #f6f6f6;
}
.row-task .separator {
  flex-grow: 1;
}
.row-task .mui-icon {
  color: #333;
}
.row-task .mui-icon:hover {
  color: #666;
}
@media (max-width: 1360px) {
  .row-task .task-name-container {
    flex-grow: 100;
    max-width: none;
  }
  .row-task .separator {
    flex-grow: 0;
  }
  .row-task .task-controls {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
  }
}
@media (max-width: 750px) {
  .row-task .task-interval-container,
.row-task .start-interval-container,
.row-task .end-interval-container {
    flex-grow: 1;
  }
}
@media (max-width: 650px) {
  .row-task {
    margin: 0.2rem 0.3rem;
    padding: 0.2rem;
  }
}
@media (max-width: 550px) {
  .row-task .task-name-container {
    min-width: 100%;
  }
  .row-task .task-project-container {
    max-width: none;
    min-width: 100%;
  }
  .row-task .separator {
    display: none;
  }
}
@media (max-width: 500px) {
  .row-task-hyphen {
    display: none;
  }
}
@media (max-width: 460px) {
  .row-task .start-interval-label,
.row-task .end-interval-label {
    display: inline-flex;
    align-items: center;
  }
  .row-task .start-interval-container,
.row-task .end-interval-container {
    gap: 1rem;
    justify-content: flex-start;
  }
}
@media (max-width: 350px) {
  .row-task .start-interval-container,
.row-task .end-interval-container {
    gap: 3%;
  }
}
@media (max-width: 300px) {
  .row-task .start-interval-label,
.row-task .end-interval-label {
    display: none;
  }
}
.row-task__date-header {
  font-style: italic;
  color: #666;
  margin-left: 3rem;
}

.dropdown {
  /* The button shown in the task row that opens the dropdown */
  user-select: none;
  /* The floating box that displays all the options */
}
.dropdown__display {
  width: 100%;
  flex-grow: 1;
  transition: 0.3s;
  background-color: #e6e6e6;
  font-size: 0.9rem;
}
.dropdown__display-text {
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.dropdown__display-text-default {
  color: #555;
}
.dropdown__display-arrow {
  height: 1.25rem;
  min-width: 1.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
.dropdown__display:hover {
  background-color: white;
  color: #555;
  cursor: pointer;
}
.dropdown__reset {
  background-color: unset;
  border: none;
  margin-left: 0.5rem;
  padding: 0;
  min-height: unset;
  cursor: pointer;
}
.dropdown__reset .mui-icon {
  color: #666;
  border-radius: 50%;
  transition: 0.3s;
}
.dropdown__reset .mui-icon:hover {
  box-shadow: 0 1px 2px 0 #666;
}
.dropdown__body {
  background-color: #eee;
  border: 1px #aaa solid;
  box-shadow: 0 1px 2px 0 #666;
  position: absolute;
  z-index: 2;
  padding: 0.25rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  min-height: 10.5rem;
  max-height: 10.5rem;
  width: min(17rem, 95%);
  overflow-y: scroll;
  overflow-x: hidden;
  white-space: nowrap;
  font-size: 0.9rem;
}
.dropdown__search {
  margin-bottom: 0.25rem;
}
.dropdown__item {
  padding: 0.2rem;
  padding-left: 0.5rem;
  transition: 0.2s;
  border-bottom: solid 1px #aaa;
}
.dropdown__item:hover {
  background-color: #ccc;
  cursor: pointer;
}
.dropdown__create {
  margin-top: 0.5rem;
  overflow-x: hidden;
}
.dropdown__create:hover {
  background-color: #cde3ff;
  cursor: pointer;
}

.projects-container {
  display: flex;
  flex-direction: column;
  padding-inline: 0.5rem;
  gap: 0.5rem;
}

.projects-input-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 25rem;
}
.projects-input-container .projects-input-text {
  flex-grow: 1;
}

.projects-list {
  list-style: none;
  margin-bottom: 3rem;
}
.projects-list li {
  padding: 0.25rem;
  max-width: 25rem;
  display: flex;
}
.projects-list li .project-name {
  flex-grow: 1;
}
.projects-list .project-id {
  display: none;
}

.data-reset {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.data-reset span {
  font-size: 0.85rem;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background-color: #1f70c0;
  color: white;
  text-align: center;
  margin-top: 1.5rem;
  padding-block: 2rem;
}
.footer a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  max-width: 80%;
  text-decoration: none;
  font-weight: normal;
  color: #111;
  background-color: #eee;
  padding: 0.5rem;
  border-radius: 0.75rem;
  box-shadow: 0 1px 2px 0 #5a81ff;
  transition: 0.3s;
}
.footer a:hover {
  background-color: #5c9bda;
  box-shadow: 0 3px 5px 0 #314997;
}

.mui-icon {
  display: flex;
  align-items: center;
}

/*# sourceMappingURL=index.css.map */
