@use 'abstracts/colors' as*;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
}

#root {
    background-color: #eeea;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width:1500px) {
        width: 80rem;
    }

    @media (max-width:550px) {
        width: 97.5%;
    }

    &>header,
    >div,
    >section,
    >footer {
        width: 100%;
    }
}

header {
    background-color: $primary-color;
    color: white;
    padding: 1rem 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
}

// A nice minimalistic style for a standard look on elements like inputs and some buttons
.round-box {
    display: inline-flex;
    align-items: center;
    min-height: 1.75rem;
    padding: 0 0.45rem;
    border: 1px solid #ced4da;
    border-radius: 0.5rem;
    background-color: white;
    color: #111;
}

button {
    @extend .round-box;
}

input {
    @extend .round-box;

    &:focus {
        border: #4b9aee 1px solid;
        outline: 0;
    }
}

.button {
    // flex-shrink: 0;
    margin-inline: 0.25rem;
    font-size: 0.8rem;
    font-weight: bold;

    // border-radius: 5px;
    box-shadow: 0 1px 2px 0 #aaa;
    transition: 0.3s;
    border: 0;

    cursor: pointer;

    &:hover {
        box-shadow: 0 3px 5px 0 #aaa;
    }

    &-primary {
        background-color: $primary-color;
        color: white;

        &:hover {
            background-color: $primary-color--light;
        }
    }

    &-success {
        background-color: $success-color;
        color: white;

        &:hover {
            background-color: $success-color--light;
        }
    }

    &-warning {
        background-color: $warning-color;
        color: black;

        &:hover {
            background-color: $warning-color--light;
        }
    }

    &-danger {
        background-color: $danger-color;
        color: white;

        &:hover {
            background-color: $danger-color--light;
        }
    }

    &-disabled {
        background-color: #ccc;
        color: #666;
    }
}

.mui-icon {
    display: flex;
    align-items: center;
}

/*
 *  TASK INPUTS PANELS
 */
/* The controls to change the task's input method */
.panel-input {
    max-width: 35rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &>div {
        width: 100%;
    }
}

.input-control-bar {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    user-select: none;
}

.input-selector {
    &-radio {
        display: none;
    }

    &-label {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        padding: 0.2rem; 

        width: 6rem;
        background-color: $primary-color;
        color: white;
        border-radius: 0 0 1rem 1rem;

        cursor: pointer;

        span {
            text-align: center;
            width: min-content;
            font-size: 0.8rem;
        }

        transition: 0.3s;

        &:hover {
            background-color: $primary-color--light;

        }

        &[selected-method="1"] {
            background-color: $primary-color--light;
        }
    }
}

.input-task-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.2rem;

    &>input {
        flex-grow: 5;
        font-size: 0.9rem;
    }

    .dropdown {
        flex-grow: 1;
        max-width: 15rem;
    }

    @media (max-width:550px) {

        flex-wrap: wrap;

        &>input,
        .dropdown {
            flex-grow: 0;
            min-width: 100%;
        }
    }
}

.input-timer-counter {
    font-size: large;
    text-align: center;
    margin-block: 0.2rem;
}

.input-start-interval-container,
.input-end-interval-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-around;
    gap: 5%;
    max-width: 20rem;
    margin-block: 0.35rem;

    &>label {
        min-width: 3rem;
    }
}

.button-submit-task {
    min-width: 10rem;
    display: inline-flex;
    justify-content: center;
}

.button-submit-task-container {
    display: flex;
    justify-content: center;
}

.row-task {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem;

    margin: 0.2rem 0.5rem;
    padding: 0.1rem 0.2rem 0.1rem 0.35rem;
    border-radius: 0.5rem;
    background-color: #ccc;

    .task-id {
        display: none;
    }

    &-hyphen {
        margin-inline: 0.35rem;
    }

    /* The buttons that display text and all the different inputs */
    .editable {
        @extend .round-box;

        width: 100%;
        height: 1.5rem;
        // padding: 0.85rem 0.45rem;

        font-size: 1rem;
        font-family: inherit;
        text-align: left;

        transition: 0.3s;

        &-display {
            /* The buttons that display text */
            cursor: text;
            background-color: #e6e6e6;

            &:hover {
                background-color: white;
                box-shadow: 0 3px 5px 0 #aaa;
            }
        }

        &:focus {
            border-color: #4b9aee;
            outline: 0;
        }
    }


    .task-name-container {
        min-width: 15rem;
        max-width: 15rem;

        .editable-display {
            background-color: #f6f6f6;
        }
    }

    .task-project-container {
        min-width: 13rem;
        max-width: 13rem;
    }

    .task-interval-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border: #98a5cf 1px solid;
        padding: 1px;
        border-radius: 0.25rem;

        input {
            font-size: 0.8rem;
            position: absolute;
            z-index: 2;
            width: auto;
        }
    }

    .task-date-container,
    .task-time-container {
        position: relative;

        .editable {
            display: inline-flex;
            justify-content: flex-end;
        }
    }

    .start-interval-container,
    .end-interval-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .start-interval-label,
    .end-interval-label {
        display: none;
        font-size: 0.9rem;
        color: #555;
        min-width: 2.3rem;
    }

    .task-date-container {
        min-width: 5.5rem;
        max-width: 5.5rem;
    }

    .task-time-container {
        min-width: 6.5rem;
        max-width: 6.5rem;
    }

    .task-duration-container {
        min-width: 6rem;
        max-width: 6rem;

        .editable {
            display: inline-flex;
            justify-content: flex-end;
            text-align: right;
        }

        .editable-display {
            background-color: #f6f6f6;
        }
    }

    .separator {
        flex-grow: 1;
    }

    .mui-icon {
        color: #333;

        &:hover {
            color: #666
        }
    }

    @media (max-width:1360px) {

        .task-name-container {
            flex-grow: 100;
            max-width: none;
        }

        .separator {
            flex-grow: 0;
        }

        .task-controls {
            flex-grow: 1;
            display: flex;
            justify-content: flex-end;
        }

    }

    @media (max-width:750px) {

        .task-interval-container,
        .start-interval-container,
        .end-interval-container {
            flex-grow: 1;
        }
    }

    @media (max-width:650px) {
        margin: 0.2rem 0.3rem;
        padding: 0.2rem;

        &-hyphen {
            display: none;
        }
    }

    @media (max-width:550px) {
        .task-name-container {
            min-width: 100%;
        }

        .task-project-container {
            max-width: none;
            min-width: 100%;
        }

        .separator {
            display: none;
        }
    }

    @media (max-width:450px) {
        .start-interval-label,
        .end-interval-label {
            display: block;
        }
    }
}

.dropdown {
    &-display {
        width: 100%;
        flex-grow: 1;
        transition: 0.3s;
        background-color: #e6e6e6;
        font-size: 0.9rem;

        &-text {
            flex-grow: 1;
            display: inline-flex;
            align-items: center;
            // padding-left: 0.5rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            // background-color: palegoldenrod;

            &-default {
                color: #555;
            }
        }

        &-arrow {
            height: 1.25rem;
            min-width: 1.25rem;
            // text-align: center;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            // background-color: darkolivegreen;
            pointer-events: none
        }

        &:hover {
            background-color: white;
            color: #555;
            cursor: pointer;
        }
    }

    &-reset {
        background-color: unset;
        border: none;
        margin-left: 0.5rem;

        padding: 0;
        min-height: unset;
        cursor: pointer;

        .mui-icon {
            color: #666;
            border-radius: 50%;
            transition: 0.3s;
            &:hover {
                box-shadow: 0 1px 2px 0 #666;
            }
        }
    }

    &-body {
        background-color: #aaaaaa;
        position: absolute;
        z-index: 2;
        padding: 0.25rem;

        display: flex;
        flex-direction: column;

        border-radius: .5rem;
        min-height: 10.5rem;
        max-height: 10.5rem;
        width: min(17rem, 95%);
        // width: 17rem;

        overflow-y: scroll;
        overflow-x: hidden;
        white-space: nowrap;

        font-size: 0.9rem;

    }

    &-result {
        margin: 0.25rem 0.1rem;
        padding: 0.25rem 0.1rem 0.1rem 0.5rem;
        background-color: #cecece;
        border-radius: 0.5rem;

        transition: 0.2s;

        &:hover {
            background-color: white;
            cursor: pointer
        }
    }

    &-create {
        margin: 0;
        background-color: #cecece;

        &:hover {
            background-color: white;
            cursor: pointer
        }
    }

}

.compact {
    font-size: 0.85rem !important;
    padding-inline: 0.15rem;
}


.projects-container {
    display: flex;
    flex-direction: column;
    padding-inline: 0.5rem;
    gap:0.5rem;
}
.projects-input-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 25rem;
    .projects-input-text {
        flex-grow: 1
    }
}

.projects-list {
    list-style: none;
    li {
        padding: 0.25rem;
        max-width: 25rem;
        display: flex;

        .project-name {
            flex-grow: 1;
        }
    }

    .project-id {
        display: none
    }
    margin-bottom: 3rem;
}